<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <div><img width="50%" src='/images/logo-mercado-liebre.svg' alt='imagen logo'></div>
        <p>Lugar para poner la barra de busqueda</p>
        <p>Comprá en cuotas y sin tarjeta de crédito</p>
        <nav>
            <ul>
                <li><a href="#"> Ofertas </a></li>
                <li><a href="#"> Tiendas Oficiales </a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="#">Creá tu cuenta</a></li>
                <li><a href="#">Ingresá</a></li>
                <li><a href="#">Mis compras</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div><img width="100%" src="/images/img-home-banner.jpg" alt="imagen banner"></div>
        <section>
            <h2>Basado en tu última visita</h2>
            <article>
                <header>
                    <div><img width="80%" src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex"> </div>
                </header>
                <main>
                    <h3>$6.770</h3>
                    <h4>40% OFF</h4>
                    <p><strong>Cafetera Moulinex</strong></p>
                </main>
            </article>
            <br>
            <article>
                <header>
                    <div><img width="80%" src="/images/img-macbook-pro-2019.jpg" alt="Macbook Pro"> </div>
                </header>
                <main>
                    <h3>$230.000</h3>
                    <h4>20% OFF</h4>
                    <p><strong>Pro 2019</strong></p>
                </main>
            </article>
            <br>
            <article>
                <header>
                    <div><img width="80%" src="/images/img-samsung-galaxy-s10.jpg" alt="Celular Samsung Galaxy"> </div>
                </header>
                <main>
                    <h3>$70.500</h3>
                    <h4>10% OFF</h4>
                    <p><strong>Galaxy S10</strong></p>
                </main>
            </article>
            <br>
            <article>
                <header>
                    <div><img width="80%" src="/images/img-tv-samsung-smart.jpg" alt="TV Smart Samsung"> </div>
                </header>
                <main>
                    <h3>$23.200</h3>
                    <h4>5% OFF</h4>
                    <p><strong>TV Samsung 43"</strong></p>
                </main>
            </article>
        </section>
        <br>
        <section>
            <h2>Sección de Ofertas</h2>
            <article>
                <header>
                    <div><img width="80%" src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex"> </div>
                </header>
                <main>
                    <h3>$6.770</h3>
                    <h4>40% OFF</h4>
                    <p><strong>Moulinex</strong></p>
                </main>
            </article>
            <br>
            <article>
                <header>
                    <div><img width="80%" src="/images/img-macbook-pro-2019.jpg" alt="Macbook Pro"> </div>
                </header>
                <main>
                    <h3>$230.000</h3>
                    <h4>20% OFF</h4>
                    <p><strong>Macbook Pro 2019</strong></p>
                </main>
            </article>
            <br>
            <article>
                <header>
                    <div><img width="80%" src="/images/img-samsung-galaxy-s10.jpg" alt="Celular Samsung Galaxy"> </div>
                </header>
                <main>
                    <h3>$70.500</h3>
                    <h4>10% OFF</h4>
                    <p><strong>Galaxy S10</strong></p>
                </main>
            </article>
            <br>
            <article>
                <header>
                    <div><img width="80%" src="/images/img-tv-samsung-smart.jpg" alt="TV Smart Samsung"> </div>
                </header>
                <main>
                    <h3>$23.200</h3>
                    <h4>5% OFF</h4>
                    <p><strong>TV Samsung 43"</strong></p>
                </main>
            </article>
        </section>
    </main>
    <br>
    <footer>
        <section>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <h4>Envío gratis desde $2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
        <section>
            <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
        </section>
    </footer>
</body>
</html>