* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 0px;
    line-height: 18px;
    background-color: #ebebeb;
}

header.principal {
    background-color:#EAC926;
    padding: 20px;
}

main.principal {
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
}


footer.principal {
    padding: 5% 5% 5%;
    background-color: #ffffff;
}

.logo {
    width: 180px;
}

.buscador {
    display: block;
    background-color: white;
    border: solid #ebebeb 1px;
    border-radius: 3px;
    padding: 3px 3px 3px;
    color: #666666;
}

.lupa {
    width: 30px;
    font-size: 14px;
    margin-left: 5px;
}

.cuotas {
    text-align: center;
    margin: 10px;
}

.main-navbar {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-navbar ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.main-navbar a {
    text-decoration: none;
    color: #222222;
    font-size: 13px;
}

.site {
    display: none;
}

.login {
    display: none;
}

article {
    margin-bottom: 10px;
    background-color: #ffffff;
}

article main {
    border-top: 1px solid #ebebeb;
    text-align: left ;
    padding: 15px;
    line-height: 1.5rem;
}

h2 {
    font-size: 24px;
    color: #666;
    display: block;
    width: 100%;
    margin: 15px 0px;
    text-align: left;
}

footer h4 {
    color: #666;
    margin: 2px 0px;
}

.precio-desc {
    display: flex;
    justify-content: space-between;
}

p.precio {
    font-size: 18px;
    margin-right: 10px;
}

p.descuento {
    font-size: 16px;
    color: #39b54a;
    width: 70%;
}

p.descripcion {
    font-size: 16px;
    margin-top: 0.7rem;
    color: #666;
    font-weight: 300;
    display: none;
}

p {
    font-size: 12px;
    margin: 0px;
}

li {
    font-size: 12px;
}

.burger-menu {
    display: flex;
    justify-content: center;
    color: #1259c3;
}

a.burger-menu i {
    background-color: #1259c3;
    color: white;
    padding: 8px;
    border-radius: 5px;
}

.truck {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

div.truck i {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    color: #39b54a;
    background-color: #ffffff;
    border: 1px solid #39b54a;
    border-radius: 50%;
    margin: -25px 15px 0px 0px;
}

div.credit-card i {
    color: #1259c3;
    margin-bottom: 10px;
    font-size: 2em;
}

div.gift i {
    color: #1259c3;
    margin-bottom: 10px;
    font-size: 2em;
}

div.security i {
    color: #1259c3;
    margin-bottom: 10px;
    font-size: 2em;
}

.centrar {
    text-align: center;
}

.banner {
    width: 100%;
    padding: 0px;
}

footer section {
    padding: 10px 40px 10px;
}


@media (min-width: 480px) {

    .header-top {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .search {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cuotas {
        margin: 0px;
    }

    .main-navbar ul {
        display: flex;
    }

    .main-navbar li {
        margin: 0px 6px;
    }

    main.principal section {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: auto;
    }

    .principal section article {
        width: 48%;
    }

    p.descripcion {
        display: block;
    }

    article {
        box-shadow: 0px 0px 10px rgba(100, 100, 100, 0.5)
    }

    #site {
        display: block;
    }
    
    #login {
        display: block;
    }

    .burger-menu {
        display: none;
    }
}

@media (min-width: 769px) {

    .cuotas {
        max-width: 150px;
        text-align: right;
    }

    .principal section article {
        width: 23%;
    }
}

@media (min-width: 1280px) {
    .header-top {
        max-width: 1280px;
        margin: auto;
    }

    .cuotas {
        max-width: none;
        text-align: right;
    }

    .main-navbar {
        max-width: 1280px;
        margin: auto;
    }
}